.btn {
  border: 4px solid #000000;
  @apply rounded-full;
  background-color: #fff;
  @apply uppercase;
  @apply text-black;
  @apply font-lulo;
  @apply font-bold;
  @apply py-1;
  @apply px-2;
}

.btn:hover,
.btn--small:hover {
  background-color: #d4e8c5;
}

.btn:active,
.btn--small:active {
  background-color: #b8d89e;
  outline: 0;
}

.btn:disabled,
.btn--small:disabled {
  opacity: 0.5;
}

.btn:focus,
.btn--small:focus {
  outline: 0;
}

.btn--small {
  @apply rounded-full;
  background-color: #fff;
  @apply uppercase;
  @apply text-black;
  @apply font-lulo;
  @apply font-bold;
  @apply py-1;
  @apply px-2;
  font-size: 12px;
}
